/* Sign-Up Page */
.sign_up_body{
	background:tomato;
}
.sign_up_form{
	background:white;
	width:50%;
	height:500px;
	position:absolute;
	top:15%;
	left:25%;
	border:solid 5px black;
	border-radius:10px;
	box-sizing:border-box;

}
.sign_up_form h1{
	text-align:center;
	margin-top:5%;
	color:black;
}

.sign_up_body .sign_up_form input[type=text] ,select{
	width:40%;
	height:40px;
	padding:5px;
	box-sizing:border-box;
	margin-top:2%;
}
.sign_up_body .sign_up_form input[type=number] ,select{
	width:40%;
	height:40px;
	padding:5px;
	box-sizing:border-box;
	margin-top:2%;
	border-radius:5px;
}


.f_name_label{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:20%;
	left:5%;
	color:black;
}

.l_name_label{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:20%;
	left:50%;
	color:black;
}
.f_name_input{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:23%;
	left:5%;
}
.l_name_input{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:23%;
	left:50%;
}
.age_label{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:36%;
	left:5%;
}

.age_input{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:40%;
	left:5%;
}
.phone_label{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:36%;
	left:50%;
}
.phone_input{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:40%;
	left:50%;
}
.email_label{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:55%;
	left:5%;
}
.email_input{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:58%;
	left:5%;
}
.gender_label{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:55%;
	left:50%;
}
.gender{
	font-family:Arial;
	font-weight:bold;
	margin:5px;
	position:absolute;
	top:60%;
	left:50%;
}

.sign_in_button{
	width:100px;
	height:50px;
	background:transparent;
	color:black;
	text-align:center;
	padding:5px;
	border:solid 3px black;
	box-sizing:box-border;
	border-radius:10px;
	position:absolute;
	top:80%;
	left:40%;
	font-family:Arial;
	font-weight:bold;
	font-size:20px;
}

.sign_in_button:hover{
	background:gray;
	color:white;
}
